nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    height: 3.5rem;
}

#navLeft {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.ytLogo {
    margin-left: 2rem;
}

#navMid {
    width: 50vw;
    display: flex;
    flex-direction: row;
}
.searchBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#searchInput {
    background-color: #121212;
    color: #aaaaaa;
    height: 40px;
    width: 100%;
    padding-left: 1rem;
}
nav button {
    background-color: #303030;
    height: 40px;
    width: 64px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav button:active * {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.8);
}

nav button > img {
    align-self: center;
    background-color: transparent;
}
#micBtn {
    height: 40px;
    width: 40px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #000;
}

#navRight {
    display: flex;
    align-items: center;
}

#navRight .icon {
    margin-right: 1rem;
}

/* SideBar */

#sideBar {
    background-color: #212121;
    width: 15%;
    min-width: 12rem;
    height: calc(100vh - 3.5rem);
    /* position: absolute; */
    /* align-items: start; */
    overflow-y: auto;
}

.toggleAside {
    cursor: pointer;
}

.sideLinks {
    text-decoration: none;
    padding: 8px 0 8px 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2rem;
    width: 85%;
    margin: auto;
    font-size: 14px;
}
.sideLinks img {
    padding: 8px;
}
.sideLinks:first-child {
    background-color: #303030;
}
.sideLinks:hover {
    background-color: #303030;
}

/* Filter */
#filters {
    display: flex;
    width: 100%;
    background-color: #212121;
    padding: 0.25rem 1.25rem;
    gap: 0.5rem;
    overflow-x: auto;
    height: 4.5rem;
}
